header {
    background-color: #004080;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
}

div {
    display:flex;
    justify-content: space-around;
    background-color: #003366;
    padding: 10px;
}

div a {
    text-decoration: none;
    color: white;
}

div a:hover {
    text-decoration: underline;
}

main {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

main h2 {
    color: #004080;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}